@tailwind base;

@layer base {
  /* フォントサイズ調整 */
  html {
    font-size: 12px;
  }
  @media (min-width: 480px) {
    html {
      font-size: 14px;
    }
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  body {
    font-family: "Noto Sans JP", sans-serif;
  }
}
