@tailwind base;

@layer base {
  /* フォントサイズ調整 */
  /** ～639px **/
  html {
    font-size: 12px;
  }
  /** 640px～767px **/
  @media (min-width: theme("screens.sm")) {
    html {
      font-size: 14px;
    }
  }
  /** 768px～ **/
  @media (min-width: theme("screens.md")) {
    html {
      font-size: 16px;
    }
  }

  body {
    font-family: "Noto Sans JP", sans-serif;
  }
}
